* {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background-color: #222;
  overflow-y: scroll;
}

.pointer {
  cursor: pointer;
}

#root {
  position: absolute;
  width: 100%;
  top: 70px;
  bottom: 180px;
}

#root > header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  height: 70px;
  line-height: 70px;
  background: #c4170c;
  border-bottom: 3px solid #7e0e08;
}

#root > header .logo {
  margin: auto;
  width: 70px;
  height: 70px;
  background-image: url('../img/logo-g1-white.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 75%;
}

#main, #content {
  width: 100%;
  height: 100%;
}

#content {
  display: flex;
  text-align: center;
}

#content > .gif-big {
  margin: auto;
  width: auto;
  max-height: 100%;
}

#main > footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 180px;
}

#main > footer .gif-list {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.20);
  padding: 20px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

#main > footer .gif-list .gif-item {
  cursor: pointer;
  display: inline-block;
  width: 140px;
  height: 140px;
  margin-right: 12px;
  /*background-color: rgba(255, 255, 255, 0.05);*/
  outline: 2px solid rgba(0, 0, 0, 0.30);
}

#main > footer .gif-list .gif-item .gif-stretch {
  width: 100%;
  height: 100%;
}

.gif {
  outline: 2px solid rgba(0, 0, 0, 0.30);
}

#main > footer .gif-list .gif-item:hover {
  background-color: rgba(0, 0, 0, 0.30);
}

#main > footer .gif-list .gif-item:last-child {
  margin-right: 0px;
}

@media (max-width: 600px) {
  #root {
    bottom: 140px;
  }

  #content > .gif-big {
    margin-top: 0;
  }

  #main > footer {
    height: 140px;
  }

  #main > footer .gif-list .gif-item {
    width: 100px;
    height: 100px;
  }
}
